{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/transform-regenerator", "@babel/transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        ["@babel/transform-react-jsx-source"],
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "src": "./src",
            "images": "./public/assets/images"
          }
        }]
      ]
    }
  }
}